/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  color: #000;
  margin: 0;
  padding: 0;
  background-image: url(../images/bg/body.jpg);
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}
ul {
  margin: 0;
  padding: 0;
  li {
    padding: 0;
    margin: 0;
    &:before {
      display: none;
    }
  }
}
.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

footer {
  margin: 0 auto;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #4285f4;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }

  main,
  footer {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

.tooltip {
  position:relative; /* make span relative to anchor */
  text-decoration:none; /* no underline */
  cursor:pointer; /* make cursor point */
  span {
    position:absolute; /* AP it */
    bottom:66px; /* FADE IN/OUT BEGIN */
    left:50%; /* CENTER TOOLTIP */
    margin-left:-72px; /* CENTER TOOLTIP */
    width:220px; /* tootip width */
    opacity:0; /* HIDE TOOLTIP in modern browsers */
    visibility:hidden; /* HIDE TOOLTIP in IE */
    padding:10px 5px; /* padding */
    color:#fff; /* text color */
    font-size: 70%;
    text-align:center; /* center text */
    pointer-events:none; /* no unintended tooltip popup for modern browsers */
    border-radius:6px; /* round corners */
    text-shadow:1px 1px 2px rgba(0, 0, 0, 0.6); /* text shadow */
    background-color: grey;
    background:rgb(31,23,23); /* IE6/7/8 */
    background:rgba(31,23,23,.8); /* modern browsers */
    border:2px solid rgb(255,255,255); /* IE6/7/8 */
    border:2px solid rgba(255,255,255,.8); /* modern browsers */
    box-shadow:0px 2px 4px rgba(0,0,0,0.5); /* shadow */
    transition:all 0.3s ease-in-out; /* animate tooltip */
    &:before,
    &:after {
      content:''; /* add html content */
      position:absolute; /* AP bottom triangle */
      bottom:-13px; /* position bottom triangle */
      left:50%; /* center bottom triangle */
      margin-left:-12px; /* center bottom triangle */
      border-left:12px solid transparent; /* build bottom triangle */
      border-right:12px solid transparent; /* build bottom triangle */
      border-top:12px solid rgb(255,255,255); /* build bottom triangle IE6/7/8 */
      border-top:12px solid rgba(255,255,255,.8); /* build bottom triangle modern browsers */     
    }
    &:after {
      bottom:-10px; /* position top triangle */
      margin-left:-10px; /* center top triangle */
      border-width:10px; /* build top triangle */
      border-top:10px solid rgb(31,23,23); /* build top triangle IE6/7/8 */
      border-top:10px solid rgba(31,23,23,.8); /* build top triangle modern browsers */
    }
    &:hover {
      visibility:hidden; /* hide tooltip when moving from link to span in IE */
    }
  }
  &:hover {
    span {
      opacity:1; /* REVEAL TOOLTIP in modern browsers */
      bottom:44px; /* FADE IN/OUT END */
      visibility:visible; /* REVEAL TOOLTIP in IE */
    }
  }
}
.tooltip span.dif { /* different width tooltip */
  width:190px; /* width */
  margin-left:-102px; /* center it */
}
@media screen and (min-device-width:320px) and (max-device-width:768px) {.tooltip span{display:none;}.tooltip:hover span{display:block;} } /* iPad & iPhone simulate :hover */




@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
header {
  height: 60px;
  width: 100%;
  background-image: url(../images/bg/header.jpg);
  nav {
    width: 864px;
    background-color: transparent !important;
    margin: 0 auto;
  }
}
main {
  /* background-color: #fff; */
  padding: 60px 0 0;
}
.table-1 {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../images/table-1.jpg);
  height: 450px;
  margin: 0 auto 50px;
  position: relative;
  border-bottom: 15px solid #fff;
  .logo {
    padding: 10px;
    display: inline-block;
    border: 5px solid #000;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 140%;
    font-weight: bold;
  }
  ul {
    position: absolute;
    left: 15px;
    bottom: 20px;
    margin: 0;
    padding: 0;
  }
  .price {
    display: inline-block;
    font-size: 140%;
    font-weight: bold;
    padding: 5px 10px;
    border: 5px solid #000;
    background-color: yellow;
    position: absolute;
    bottom: 100px;
    right: 45px;
    color: #000;
    cursor: pointer;
  }

}
.table-2 {
  ul {
    margin: 0;
    padding: 0;
  }
  img {
    position: absolute;
    border: 5px solid #fff;
    transition: all 0.5s;
  }
  h5 {
    background-color: #FFFAF6;
    position: absolute;
    text-align: center;
    font-size: 160%;
    padding: 15px;
    font-weight: normal;
    border: 5px solid #000;
    transition: all 0.5s;
  }
  span {
    font-weight: bold;
    display: block;
    font-size: 140%;
    line-height: 1.5;    
    position: absolute;
    text-shadow: 2px 2px 4px #fff;
  }
  .list-1 {
    z-index: 5;
    height: 600px;
    img {
      width: 590px;
      height: 590px;
      left: 0;
      top: 0;
    }
    h5 {
      width: 300px;
      bottom: -20px;
      left: 330px;
    }
  }
  .list-2 {
    height: 795px;
    z-index: 2;
    top: -200px;
    img {
      right: 0;
      top: 0;
      width: 785px;
      height: 785px;
    }
    h5 {
      width: 300px;
      bottom: 40px;
      left: 40px;
    }
  }
  .list-3 {
    height: 864px;
    top: -200px;
    img {
      width: 874px;
      height: 874px;
    }
    h5 {
      width: 300px;
      bottom: 70px;
      right: 70px;
    }
  }
  .list-4 {
    height: 575px;
    top: -195px;
    img {
      width: 565px;
      height: 565px;
      position: absolute;
      top: 0;
      left: 0;
    }
    span {
      width: 280px;
      padding: 120px 10px;
      top: 0;
      right: 0;
    }
    h5 {
      bottom: 30px;
      left: 30px;
    }
  }
  .list-5 {
    height: 533px;
    top: -420px;
    img {
      width: 523px;
      height: 523px;
      position: absolute;
      top: 0;
      right: 0;
    }
    span {
      width: 340px;
      padding: 120px 10px 60px;
      left: 0;
      bottom: 50px;
      text-align: right;
    }
    h5 {
      bottom: 20px;
      left: 355px;
    }
  }
}
.table-3 {
  height: 760px;
  position: relative;
  top: -420px;
  img {
    width: 750px;
    height: 750px;
    border: 5px solid #fff;
    position: absolute;
    left: 52px;
    top: 0;
  }
  .inner {
    width: 760px;
    position: absolute;
    bottom: 20px;
    left: 57px;
    z-index: 10;
    .inner-block {
      background-color: #FFFAF6;
      display: inline-block;
      width: 350px;
      margin: 0 10px;
      padding: 15px;
      float: left;
    }
    .inner-block-1 {
      text-align: center;
      li {
        margin-bottom: 15px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

footer {
  background-color: #fff;
}


/*
 * SimpleModal Contact Form
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

/* Overlay */

#contact-overlay {
    background-color: #000;
}

/* Container */

#contact-container {
    font: 16px/22px 'Trebuchet MS', Verdana, Arial;
    text-align: left;
    width: 450px;
    .contact-content {
        background-color: #333;
        color: #ddd;
        height: 40px;
    }
    h1 {
        color: #d76300;
        font-size: 20px;
        line-height: 20px;
        margin: 0;
        padding: 0 0 6px 12px;
        text-align: left;
    }
    .contact-loading {
        background: url(../img/contact/loading.gif) no-repeat;
        height: 55px;
        margin: -14px 0 0 190px;
        padding: 0;
        position: absolute;
        width: 54px;
        z-index: 8000;
    }
    .contact-message {
        text-align: center;
    }
    .contact-error {
        background: #000;
        border: 2px solid #ccc;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        margin: 0 auto;
        padding: 2px;
        width: 92%;
    }
    br {
        clear: both;
    }
    form {
        margin: 0;
        padding: 0;
    }
    label {
        clear: left;
        display: block;
        float: left;
        font-weight: bold;
        padding-right: 4px;
        text-align: right;
        width: 100px;
    }
    .contact-input {
        background: #eee;
        border: 1px solid #fff;
        font-family: 'Trebuchet MS', Verdana, Arial;
        float: left;
        padding: 2px;
        margin: 2px;
        width: 300px;
    }
    textarea {
        height: 114px;
    }
    .contact-cc {
        cursor: default;
        font-size: 14px;
        vertical-align: top;
    }
    .contact-top {
        background-color: #333;
        height: 13px;
        margin: 0;
        padding: 0;
        -webkit-border-top-left-radius: 8px;
        -webkit-border-top-right-radius: 8px;
        -moz-border-radius-topleft: 8px;
        -moz-border-radius-topright: 8px;
        border-radius: 8px 8px 0 0;
    }
    .contact-bottom {
        background-color: #333;
        font-size: 12px;
        height: 13px;
        line-height: 12px;
        text-align: center;
        -webkit-border-bottom-right-radius: 8px;
        -webkit-border-bottom-left-radius: 8px;
        -moz-border-radius-bottomright: 8px;
        -moz-border-radius-bottomleft: 8px;
        border-radius: 0 0 8px 8px;
        a {
            color: #666;
            position: relative;
            top: -4px;
            text-decoration: none;
            &:link, &:active, &:visited {
                color: #666;
                position: relative;
                top: -4px;
                text-decoration: none;
            }
            &:hover {
                color: #888;
            }
        }
    }
    .contact-button {
        background: #d76300;
        border: 0;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        height: 26px;
        margin: 4px 0 0 4px;
        text-align: center;
        vertical-align: middle;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        &:hover {
            background: #f49000;
        }
    }
    a.modal-close {
        color: #999;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        text-decoration: none;
        right: 8px;
        top: 0px;
        &:link, &:active, &:visited {
            color: #999;
            font-size: 18px;
            font-weight: bold;
            position: absolute;
            text-decoration: none;
            right: 8px;
            top: 0px;
        }
        &:hover {
            color: #ccc;
        }
    }
}